@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif; */
:root {
    --inter: 'Inter', sans-serif;
    --josefin: 'Josefin Sans', sans-serif;
    --flex: flex;
    --white: #ffffff;
    --black: #04131C;
    --column: column; 
    --input-padding: 10px 0 10px 5px;   
}

body {
    margin: 0;
    padding: 0;
    background: #064E3B;
    display: var(--flex);
    flex-direction: var(--column);
    align-items: center;
    text-align: center;
    justify-content: center;
}

header, main {
    max-width: 300px;
}

.flex-column {
    display: var(--flex);
    flex-direction: var(--column);
}

.flex-row {
    display: var(--flex);
    justify-content: space-between;
    flex-wrap: wrap;
}

.heading {
    font-family: var(--josefin);
    color:var(--white)
}

.endHeading {
    margin: 20px 0 0 0;
}

.inputs {
    background: #6EE7B7;
    display: var(--flex);
    border-radius: 5px;
    font-family: var(--inter);
    padding: var(--input-padding);
}

.hide {
    display: none;
}


.inputs::placeholder {
    color: var(--black);
    font-family: var(--inter);
    padding: var(--input-padding);
}

.name-inputs {
    margin-bottom: 20px;
}

.itemBox {
    margin: 20px 0;
    background: var(--white);
    padding: 5px 15px;
    border-radius: 5px;
    order: 0;
    display: var(--flex);
    flex-wrap: wrap;
    flex-direction: var(--column);
}

.bold {
    font-weight: bold;
}

.noBottom {
    margin-bottom: 0;
}

.last{
    display: var(--flex);
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 5px;
}

#logo {
    width: 150px;
    padding-top: 50px;
}

#publishBtn {
    background: #C4B5FD;
    color: var(--black);
}

#endorsement-input {
    margin-bottom: 20px;
}

#publishBtn {
    border: none;
    box-shadow: none;
    border-radius: 5px;
    padding: 20px;
    color: var(--black);
    font-family: var(--josefin);
    font-size: 22px;
    font-weight: bold;
}

#publishBtn:hover {
    background: #4C1D95;
    color:var(--white);
}

#endorsements-list {
    margin: 0 0 20px 0;
    color: #1B1924;
    text-align: left;
    border-radius: 5px;
    padding: 10px 5px;
    font-family: var(--inter);
}

@media (min-width: 576px), (orientation: portrait) { 
    header, main {
        max-width: 476px;
    }
 }

